.card{
    background:#FFF;
    display:flex;
    flex-direction:column;
    width:100%;
    max-width:400px;
    box-shadow: 0 0 0 1px gray;
    margin:40px;
    font-family: 'Arial';
    height: max-content;
}
.card-title{
    color:white;
    background:#014b88;
    font-size:25px;
    padding:2px;
    display:flex;
    justify-content:center;
}
.form{
    padding:15px;
}
.btn{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}
.btn button{
    background: black;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 1000;
    width: 110px;
    margin: 5px 10px;
}
.btn button:active {
    background: #333;
}
.btn .button{
    background: black;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 1000;
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .card {
    margin:0;
    margin-bottom:40px;
  }
  .btn a{
    margin:0;
    margin-bottom:15px;
  }
}
