.matriz{
    display: grid;
}
.matriz input{
    width: 20px;
    height: 20px;
    text-align: center;
}
.asignar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.matrix{
    display: flex;
    align-items: center;
    flex-direction: column;
}
