.field{
    display:flex;
    margin:8px;
}
.field div{
    width:80px;
    display:flex;
    align-items:center;
    margin-right:15px;
}
.field input{
    flex:auto;
    height:25px;
    border: 1px solid #999;
}
