.cards{
    width:100%;
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
