body{
    background:#CCC;
    margin:0;
    max-height:100vh;
}
#root{
    width:100%;
}
.title{
    padding:10px;
    box-sizing:border-box;
    font-size:40px;
    color:white;
    display:flex;
    justify-content:center;
    background:steelblue;
    margin-bottom:15px;
    width: 100%;
}
@media only screen and (max-width: 600px) {
  .title {
    font-size: 30px;
  }
}
